.performance-information-block .age-limit {
    background-color: #238ccd;
}

.cursor-pointer {
    cursor: pointer;
}

.sfb-section label:last-child {
    margin-bottom: 0 !important;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    margin-top: 11px;
}

.preview-content a {
    color: #3abbd2;
    font-weight: 600;
}

.preview-content a:hover {
    color: #222;
    text-decoration: none;
}

.preview-content blockquote {
    padding: 50px;
    color: #3abbd2;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    text-align: center;
    max-width: 600px;
    margin: 50px auto 60px;
    position: relative;
    border: 1px solid currentColor;
}

.preview-content blockquote:before {
    position: absolute;
    content: "“";
    z-index: -1;
    top: -0.2em;
    left: 0px;
    color: #cdebf0;
    font-size: 200px;
    line-height: 1em;
    font-family: 'Proxima Nova Lt', sans-serif;
}

.preview-content ol {
    counter-reset: std-ol;
    list-style: none;
    padding-left: 0;
    margin-bottom: 50px;
    text-align: left;
}

.preview-content ol li {
    counter-increment: std-ol;
    padding-left: 40px;
    position: relative;
}

.preview-content ol li:before {
    content: counter(std-ol);
    position: absolute;
    font-weight: 900;
    font-size: 150%;
    color: #cdebf0;
    top: -0.25em;
    left: 0;
}

.preview-content ol li+li {
    margin-top: 10px;
}

.preview-content h1,
.preview-content h2,
.preview-content h3,
.preview-content h4,
.preview-content h5,
.preview-content h6 {
    color: #3abbd2;
    margin-top: 25px;
    margin-bottom: 15px;
}

.content-with-images img {
    max-width: 100% !important;
    height: auto !important;
}

.content-with-images {
    width: 100%;
}
.content-with-images .rtb-labels-cnt{
  position: relative;
  padding-left: 0;
  margin-left:0;
  margin-bottom: 0;
}
.content-with-images .rtb-labels-cnt a{
  color:#000;
}
.border-red {
    border: 1px solid #a94442;
}

.esb-dz-previews-cnt.border-red {
    border-radius: 8px;
    background-color: #FFF1EE;
}

.tt-input {
    padding-left: 0 !important;
}

.daterangepicker button {
    border: 0;
    color: #ffffff;
    border-radius: 4px;
    background: rgb(135, 216, 175);
    background: -moz-linear-gradient(left, rgba(135, 216, 175, 1) 0%, rgba(56, 185, 210, 1) 50%, rgba(32, 128, 203, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(135, 216, 175, 1) 0%, rgba(56, 185, 210, 1) 50%, rgba(32, 128, 203, 1) 100%);
    background: linear-gradient(to right, rgba(135, 216, 175, 1) 0%, rgba(56, 185, 210, 1) 50%, rgba(32, 128, 203, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87d8af', endColorstr='#2080cb', GradientType=1);
}

.daterangepicker .cancelBtn {
    background: #238ccd;
}

.daterangepicker button:hover {
    color: #ffffff;
}

.daterangepicker .ranges li {
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif !important;
}

.vk-hover:hover,
.vk-hover:hover i {
    color: #4A76A8;
}

.fb-hover:hover,
.fb-hover:hover i {
    color: #4267B2;
}

.twitter-hover:hover,
.twitter-hover:hover i {
    color: #1DA1F2;
}

.output-search-results {
    max-height: 180px;
    overflow-y: auto;
}

label > * {
    display: block;
    pointer-events: none;
}

.esb-image-cnt-help {
    margin-top: -20px;
    text-align: center;
}

.h-0 {
    height: 0px !important;
}

.h-50 {
    height: 50px !important;
}

.swiper-button-next.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-button-prev.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-container {
    position: inherit;
}

@media screen and (max-width: 600px) and (max-height: 1000px) {
    .swiper-mobile {
        width: 250px;
        margin: auto;
    }

    .tags-slider-main .swiper-button-next,
    .tags-slider-main .swiper-button-prev {
        margin-top: -30px;
    }

    .tags-slider-events .m-t-30 {
        margin-top: 117px;
    }
}

/*
.flex-wrapper {
    display: flex;
    justify-content: center;
}
*/

.social-icon {
    opacity: 1 !important;
}

.m-r-41 {
    margin-right: 41px;
}

/*#tags-slider .swiper-button-next,
#tags-slider .swiper-button-prev {
    margin-top: -26px !important;
}

#tags-slider .swiper-button-prev,
#tags-slider .swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E") !important;
    left: 10px;
    right: auto;
}

#tags-slider .swiper-button-next,
#tags-slider .swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E") !important;
    right: 10px;
    left: auto;
}

#tags-slider .swiper-button-next.swiper-button-disabled,
#tags-slider .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
}

#tags-slider .swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tags-slider .swiper-slide {
    margin-right: 0 !important;
}*/

/*
.owl-stage {
    margin: 0 auto;
}

.owl-stage-outer {
    margin-left: 20px;
}

.owl-item {
    text-align: center;
    width: auto !important;
}

.owl-next, .owl-prev {
    top: 0;
    position: absolute;
    font-size: 50pt !important;
    line-height: 0.2 !important;
}

.owl-next span, .owl-prev span {
    color: #09bdce;
}

.owl-next {
    right: 0;
}

.owl-prev {
    left: 0;
}*/

.max-93 {
    width: 93px;
    margin-left: -1px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #3abbd2;
    border-color: #3abbd2;
    border-radius: 100%;
    margin-left: -13px;
    margin-top: -13px;
    height: 26px;
    width: 26px;
    color: #fff;
}

#add-event label {
    color: #707070;
}

#loginModal {
    text-align: center;
}

#loginModal .modal-dialog {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}

#loginModal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
}

#tags-slider a.label-white-2.mobile-label-white-2:not(.active):active,
#tags-slider a.label-white-2.mobile-label-white-2:not(.active):hover,
#tags-slider a.label-white-2.mobile-label-white-2:not(.active):focus {
    color: #3abbd2;
    background: #ffffff;
    -webkit-box-shadow: inset 0 0 0 1px #3abbd2;
    box-shadow: inset 0 0 0 1px #3abbd2;
}

.ei-addition.free {
    color: #37b6d1;
    font-weight: 500;
    font-size: 20px;
}

.event-steps-block .flex-row .col-xs-12:nth-child(4) ul li:last-child a {
    opacity: 1 !important;
    color: #238ccd !important;
    font-weight: bold !important;
}

.label-custom {
    padding: 5px 8px 7px !important;
}

#photos-slider {
    position: relative;
}

.border-radius-4 {
    border-radius: 4px;
}

.wi-cell.wi-cell-date:hover a {
    color: #238ccd;
}

.ei-ticket-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide-duplicate--hidden {
    display: none;
}

@media screen and (min-width: 993px) {
    .performance-information-block  .swiper-button-next {
        right: -35px;
    }

    .performance-information-block  .swiper-button-prev {
        left: -35px;
    }

    .pib-slider-cnt .photos-slider {
        overflow: visible;
    }
}

@media screen and (min-width: 641px) and (max-width: 992px) {
    .interesting-slider {
        padding: 0 30px;
    }

    .interesting-sap-arrows .swiper-button-next {
        right: 0;
    }

    .interesting-sap-arrows  .swiper-button-prev {
        left: 0;
    }
}

@media screen and (min-width: 600px) and (max-width: 641px) {
    .interesting-slider {
        padding: 0 30px;
    }

    .interesting-sap-arrows .swiper-button-next {
        right: 0;
    }

    .interesting-sap-arrows  .swiper-button-prev {
        left: 0;
    }
}

@media screen and (max-width: 700px) {
    .swiper-wrapper.disabled {
        transform: none !important;
        justify-content: center;
        margin-left: 15px;
    }
}
