form.main-form {
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
}

.form-group.buttons {
    margin-bottom: 0;
}

.type_array {
    margin-bottom: 10px;
}

.col-left {
    margin-left: -10px;
}

.col-right {
    padding-right: 0;
    margin-left: 10px;
}

.map-wrapper {
    height: 300px;
}

.picker {
    top: -195px;
    margin-top: 0;
}

.chart.has-minimum-width {
    min-width: 100px;
}

.tab-content-full-width {
    width: 100%;
}

.input-group .select2-selection {
    margin-right: 15px;
}

textarea.form-control {
    height: 80px;
}

.template-download:not(.no-file) {
    height: 105px;
}

.nav-tabs {
    width: 100%;
}

.nav-tabs::before {
    content: '';
    color: inherit;
    margin: 0;
    opacity: 1;
    filter: alpha(opacity=1);
}

.content {
    padding: 0 20px 20px 20px;
}

@media screen and (max-width: 445px) {
    .btn-form {
        width: 100%;
        margin-top: 5px;
    }
}

.row-flex {
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
}

/* Конструктор полей. */
.form-fields-builder {
    width: 100%;
}

.form-fields-buttons {
    clear: both;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.sortable-fields {
    margin-bottom: 40px;
}

.sortable-fields:last-child {
    margin-bottom: 0;
}

.cke_dialog_close_button:after {
    content: '' !important;
    width: 16px !important;
}

#cke_415_selhicolor {
    width: 74px !important;
    height: 35px !important;
    border-radius: 2px !important;
    border: 1px solid #ddd !important;
}

#cke_893_textInput {
    width: 74px !important;
}

.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
    margin-left: 0;
}