/* Дополнение к Bootstrap 3. */
@media (min-width: 992px) {
    .col-md-offset-right-12 {
        margin-right: 100%;
    }

    .col-md-offset-right-11 {
        margin-right: 91.66666667%;
    }

    .col-md-offset-right-10 {
        margin-right: 83.33333333%;
    }

    .col-md-offset-right-9 {
        margin-right: 75%;
    }

    .col-md-offset-right-8 {
        margin-right: 66.66666667%;
    }

    .col-md-offset-right-7 {
        margin-right: 58.33333333%;
    }

    .col-md-offset-right-6 {
        margin-right: 50%;
    }

    .col-md-offset-right-5 {
        margin-right: 41.66666667%;
    }

    .col-md-offset-right-4 {
        margin-right: 33.33333333%;
    }

    .col-md-offset-right-3 {
        margin-right: 25%;
    }

    .col-md-offset-right-2 {
        margin-right: 16.66666667%;
    }

    .col-md-offset-right-1 {
        margin-right: 8.33333333%;
    }

    .col-md-offset-right-0 {
        margin-right: 0;
    }
}
/* Конец дополнения. */

span.preview {
    display: none;
}

table .bootstrap-switch {
    margin-top: 0;
    margin-right: 0;
}

.content-group-lg {
    margin-bottom: 20px !important;
}

.sidebar-content {
    padding: 0;
}

.navigation-main {
    padding: 0;
}

.page-container {
    padding-top: 0;
}

.category-content {
    overflow-y: auto;
}

.content-wrapper {
    padding-left: 0;
}

@media screen and (min-width: 769px) {
    .content-wrapper {
        padding-left: 260px;
    }

    .sidebar-xs .content-wrapper {
        padding-left: 56px;
    }

    .page-container {
        padding-top: 50px;
    }

    .sidebar-main {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
    }

    .sidebar-content {
        position: absolute;
        padding: 50px 0 0 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .sidebar-category {
        position: relative;
        height: calc(100% - 200px);
    }

    @media (min-width: 769px) {
        .sidebar-xs .sidebar-main .navigation > li:hover > a > span:not(.sidebar-menu-name) {
            display: block;
        }
    }

    .sidebar-xs .sidebar-category {
        position: relative;
        height: calc(100% - 56px);
    }

    .sidebar-xs .navigation.navigation-main.navigation-accordion li a {
        padding-left: 16px;
    }

    .category-content, .navigation-main {
        position: relative;
        height: 100%;
    }
}

table div[contenteditable="true"] {
    word-break: break-all;
}

.panel-dark > .panel-heading {
    color: #fff;
    background-color: #425964;
    border-color: #425964;
}

.letter-spacing-none {
    letter-spacing: 0;
}
/* Конец дополнения. */

.lg-on {
    overflow-y: hidden;
}

.fab-menu-top-left.affix, .fab-menu-top-right.affix {
    top: 20px;
    margin-top: 0;
    z-index: 1030;
}

.fab-menu-btn.btn-float {
    padding: 20px;
}

.fab-menu-opacity {
    opacity: .5;
}

.fab-menu-opacity:hover {
    opacity: 1;
}

.f-w-100 {
    font-weight: 100;
}

.f-w-200 {
    font-weight: 200;
}

.f-w-300 {
    font-weight: 300;
}

.f-w-400 {
    font-weight: 400;
}

.f-w-500 {
    font-weight: 500;
}

.f-w-600 {
    font-weight: 600;
}

.f-w-700 {
    font-weight: 700;
}

.f-w-800 {
    font-weight: 800;
}

.f-w-900 {
    font-weight: 900;
}

.m-auto {
    margin: 0 auto !important;
}

.m-0 {
    margin: 0 !important;
}

.m-1 {
    margin: 1px !important;
}

.m-2 {
    margin: 2px !important;
}

.m-3 {
    margin: 3px !important;
}

.m-4 {
    margin: 4px !important;
}

.m-5 {
    margin: 5px !important;
}

.m-6 {
    margin: 6px !important;
}

.m-7 {
    margin: 7px !important;
}

.m-8 {
    margin: 8px !important;
}

.m-9 {
    margin: 9px !important;
}

.m-10 {
    margin: 10px !important;
}

.m-15 {
    margin: 15px !important;
}

.m-20 {
    margin: 20px !important;
}

.m-25 {
    margin: 25px !important;
}

.m-30 {
    margin: 30px !important;
}

.m-35 {
    margin: 35px !important;
}

.m-40 {
    margin: 40px !important;
}

.m-45 {
    margin: 45px !important;
}

.m-50 {
    margin: 50px !important;
}

.m-t-0 {
    margin-top: 0 !important;
}

.m-t-1 {
    margin-top: 1px !important;
}

.m-t-2 {
    margin-top: 2px !important;
}

.m-t-3 {
    margin-top: 3px !important;
}

.m-t-4 {
    margin-top: 4px !important;
}

.m-t-5 {
    margin-top: 5px !important;
}

.m-t-6 {
    margin-top: 6px !important;
}

.m-t-7 {
    margin-top: 7px !important;
}

.m-t-8 {
    margin-top: 8px !important;
}

.m-t-9 {
    margin-top: 9px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-t-15 {
    margin-top: 15px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-t-25 {
    margin-top: 25px !important;
}

.m-t-30 {
    margin-top: 30px !important;
}

.m-t-35 {
    margin-top: 35px !important;
}

.m-t-40 {
    margin-top: 40px !important;
}

.m-t-45 {
    margin-top: 45px !important;
}

.m-t-50 {
    margin-top: 50px !important;
}

.m-r-0 {
    margin-right: 0 !important;
}

.m-r-1 {
    margin-right: 1px !important;
}

.m-r-2 {
    margin-right: 2px !important;
}

.m-r-3 {
    margin-right: 3px !important;
}

.m-r-4 {
    margin-right: 4px !important;
}

.m-r-5 {
    margin-right: 5px !important;
}

.m-r-6 {
    margin-right: 6px !important;
}

.m-r-7 {
    margin-right: 7px !important;
}

.m-r-8 {
    margin-right: 8px !important;
}

.m-r-9 {
    margin-right: 9px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.m-r-15 {
    margin-right: 15px !important;
}

.m-r-20 {
    margin-right: 20px !important;
}

.m-r-25 {
    margin-right: 25px !important;
}

.m-r-30 {
    margin-right: 30px !important;
}

.m-r-35 {
    margin-right: 35px !important;
}

.m-r-40 {
    margin-right: 40px !important;
}

.m-r-45 {
    margin-right: 45px !important;
}

.m-r-50 {
    margin-right: 50px !important;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-b-1 {
    margin-bottom: 1px !important;
}

.m-b-2 {
    margin-bottom: 2px !important;
}

.m-b-3 {
    margin-bottom: 3px !important;
}

.m-b-4 {
    margin-bottom: 4px !important;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.m-b-6 {
    margin-bottom: 6px !important;
}

.m-b-7 {
    margin-bottom: 7px !important;
}

.m-b-8 {
    margin-bottom: 8px !important;
}

.m-b-9 {
    margin-bottom: 9px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-b-15 {
    margin-bottom: 15px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.m-b-25 {
    margin-bottom: 25px !important;
}

.m-b-30 {
    margin-bottom: 30px !important;
}

.m-b-35 {
    margin-bottom: 35px !important;
}

.m-b-40 {
    margin-bottom: 40px !important;
}

.m-b-45 {
    margin-bottom: 45px !important;
}

.m-b-50 {
    margin-bottom: 50px !important;
}

.m-l-0 {
    margin-left: 0 !important;
}

.m-l-1 {
    margin-left: 1px !important;
}

.m-l-2 {
    margin-left: 2px !important;
}

.m-l-3 {
    margin-left: 3px !important;
}

.m-l-4 {
    margin-left: 4px !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

.m-l-6 {
    margin-left: 6px !important;
}

.m-l-7 {
    margin-left: 7px !important;
}

.m-l-8 {
    margin-left: 8px !important;
}

.m-l-9 {
    margin-left: 9px !important;
}

.m-l-10 {
    margin-left: 10px !important;
}

.m-l-15 {
    margin-left: 15px !important;
}

.m-l-20 {
    margin-left: 20px !important;
}

.m-l-25 {
    margin-left: 25px !important;
}

.m-l-30 {
    margin-left: 30px !important;
}

.m-l-35 {
    margin-left: 35px !important;
}

.m-l-40 {
    margin-left: 40px !important;
}

.m-l-45 {
    margin-left: 45px !important;
}

.m-l-50 {
    margin-left: 50px !important;
}

.p-0 {
    padding: 0 !important;
}

.p-1 {
    padding: 1px !important;
}

.p-2 {
    padding: 2px !important;
}

.p-3 {
    padding: 3px !important;
}

.p-4 {
    padding: 4px !important;
}

.p-5 {
    padding: 5px !important;
}

.p-6 {
    padding: 6px !important;
}

.p-7 {
    padding: 7px !important;
}

.p-8 {
    padding: 8px !important;
}

.p-9 {
    padding: 9px !important;
}

.p-10 {
    padding: 10px !important;
}

.p-15 {
    padding: 15px !important;
}

.p-20 {
    padding: 20px !important;
}

.p-25 {
    padding: 25px !important;
}

.p-30 {
    padding: 30px !important;
}

.p-35 {
    padding: 35px !important;
}

.p-40 {
    padding: 40px !important;
}

.p-45 {
    padding: 45px !important;
}

.p-50 {
    padding: 50px !important;
}

.p-t-0 {
    padding-top: 0 !important;
}

.p-t-1 {
    padding-top: 1px !important;
}

.p-t-2 {
    padding-top: 2px !important;
}

.p-t-3 {
    padding-top: 3px !important;
}

.p-t-4 {
    padding-top: 4px !important;
}

.p-t-5 {
    padding-top: 5px !important;
}

.p-t-6 {
    padding-top: 6px !important;
}

.p-t-7 {
    padding-top: 7px !important;
}

.p-t-8 {
    padding-top: 8px !important;
}

.p-t-9 {
    padding-top: 9px !important;
}

.p-t-10 {
    padding-top: 10px !important;
}

.p-t-15 {
    padding-top: 15px !important;
}

.p-t-20 {
    padding-top: 20px !important;
}

.p-t-25 {
    padding-top: 25px !important;
}

.p-t-30 {
    padding-top: 30px !important;
}

.p-t-35 {
    padding-top: 35px !important;
}

.p-t-40 {
    padding-top: 40px !important;
}

.p-t-45 {
    padding-top: 45px !important;
}

.p-t-50 {
    padding-top: 50px !important;
}

.p-r-0 {
    padding-right: 0 !important;
}

.p-r-1 {
    padding-right: 1px !important;
}

.p-r-2 {
    padding-right: 2px !important;
}

.p-r-3 {
    padding-right: 3px !important;
}

.p-r-4 {
    padding-right: 4px !important;
}

.p-r-5 {
    padding-right: 5px !important;
}

.p-r-6 {
    padding-right: 6px !important;
}

.p-r-7 {
    padding-right: 7px !important;
}

.p-r-8 {
    padding-right: 8px !important;
}

.p-r-9 {
    padding-right: 9px !important;
}

.p-r-10 {
    padding-right: 10px !important;
}

.p-r-15 {
    padding-right: 15px !important;
}

.p-r-20 {
    padding-right: 20px !important;
}

.p-r-25 {
    padding-right: 25px !important;
}

.p-r-30 {
    padding-right: 30px !important;
}

.p-r-35 {
    padding-right: 35px !important;
}

.p-r-40 {
    padding-right: 40px !important;
}

.p-r-45 {
    padding-right: 45px !important;
}

.p-r-50 {
    padding-right: 50px !important;
}

.p-b-0 {
    padding-bottom: 0 !important;
}

.p-b-1 {
    padding-bottom: 1px !important;
}

.p-b-2 {
    padding-bottom: 2px !important;
}

.p-b-3 {
    padding-bottom: 3px !important;
}

.p-b-4 {
    padding-bottom: 4px !important;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.p-b-6 {
    padding-bottom: 6px !important;
}

.p-b-7 {
    padding-bottom: 7px !important;
}

.p-b-8 {
    padding-bottom: 8px !important;
}

.p-b-9 {
    padding-bottom: 9px !important;
}

.p-b-10 {
    padding-bottom: 10px !important;
}

.p-b-15 {
    padding-bottom: 15px !important;
}

.p-b-20 {
    padding-bottom: 20px !important;
}

.p-b-25 {
    padding-bottom: 25px !important;
}

.p-b-30 {
    padding-bottom: 30px !important;
}

.p-b-35 {
    padding-bottom: 35px !important;
}

.p-b-40 {
    padding-bottom: 40px !important;
}

.p-b-45 {
    padding-bottom: 45px !important;
}

.p-b-50 {
    padding-bottom: 50px !important;
}

.p-l-0 {
    padding-left: 0 !important;
}

.p-l-1 {
    padding-left: 1px !important;
}

.p-l-2 {
    padding-left: 2px !important;
}

.p-l-3 {
    padding-left: 3px !important;
}

.p-l-4 {
    padding-left: 4px !important;
}

.p-l-5 {
    padding-left: 5px !important;
}

.p-l-6 {
    padding-left: 6px !important;
}

.p-l-7 {
    padding-left: 7px !important;
}

.p-l-8 {
    padding-left: 8px !important;
}

.p-l-9 {
    padding-left: 9px !important;
}

.p-l-10 {
    padding-left: 10px !important;
}

.p-l-15 {
    padding-left: 15px !important;
}

.p-l-20 {
    padding-left: 20px !important;
}

.p-l-25 {
    padding-left: 25px !important;
}

.p-l-30 {
    padding-left: 30px !important;
}

.p-l-35 {
    padding-left: 35px !important;
}

.p-l-40 {
    padding-left: 40px !important;
}

.p-l-45 {
    padding-left: 45px !important;
}

.p-l-50 {
    padding-left: 50px !important;
}

.pos-a {
    position: absolute;
}

.pos-r {
    position: relative;
}

.pos-s {
    position: static;
}

.d-i {
    display: inline !important;
}

.d-b {
    display: block !important;
}

.d-n {
    display: none !important;
}

.navigation li li a > i {
    margin-top: 1px;
}

@media (min-width: 769px) {
    .sidebar-xs .sidebar-main .navigation > li > a {
        padding-right: 2px !important;
    }
}

.header-language {
    height: 18px;
    margin-top: -1px;
}

.dropdown-menu > li > a > img,
.dropdown-menu > .dropdown-header > img {
    height: 18px;
    max-height: 18px;
}

.navbar-nav .language-switch .dropdown-menu > li > a > img {
    margin-top: 1px;
}

.dropdown-menu > li > a > i,
.dropdown-menu > li > a > img,
.dropdown-menu > .dropdown-header > i,
.dropdown-menu > .dropdown-header > img {
    margin-right: 12px;
}

.navigation-main i {
    width: 1em;
    text-align: center;
}

.panel.has-bg-image {
    background-image: url(../../images/backgrounds/panel_bg.png);
}

td.cke_dialog_ui_hbox_first {
    width: 25% !important;
}